useDynLib(ecodive, 
  C_pthreads, 
  C_rarefy, C_read_tree,
  C_transform, 
  C_alpha_div, C_faith, 
  C_beta_div, C_unifrac )

importFrom(parallel, detectCores)
importFrom(utils, combn)

export(alpha_div)
export(ace)
export(berger)
export(brillouin)
export(chao1)
export(faith)
export(fisher)
export(inv_simpson)
export(margalef)
export(mcintosh)
export(menhinick)
export(observed)
export(shannon)
export(simpson)
export(squares)

export(beta_div)
export(aitchison)
export(bhattacharyya)
export(bray)
export(canberra)
export(chebyshev)
export(chord)
export(clark)
export(divergence)
export(euclidean)
export(generalized_unifrac)
export(gower)
export(hamming)
export(hellinger)
export(horn)
export(jaccard)
export(jensen)
export(jsd)
export(lorentzian)
export(manhattan)
export(matusita)
export(minkowski)
export(morisita)
export(motyka)
export(normalized_unifrac)
export(ochiai)
export(psym_chisq)
export(soergel)
export(sorensen)
export(squared_chisq)
export(squared_chord)
export(squared_euclidean)
export(topsoe)
export(unweighted_unifrac)
export(variance_adjusted_unifrac)
export(wave_hedges)
export(weighted_unifrac)

export(list_metrics)
export(match_metric)

export(n_cpus)
export(rarefy)
export(read_tree)
